*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
}
body{
    justify-content: center;
    align-items:center;
    background:#16384c;
}

.container
{
    position:relative;
    width:1100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding:30px;
}
.container .card
{
    position:relative;
    max-width:300px;
    height:215px;
    background:#fff;
    margin:30px 10px;
    padding:20px 15px;
    display:flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition:0.3s ease-in-out;
}
.container .card:hover
{
height:420px;
}
.container .card .imgbx
{
    position:relative;
    width:260px;
    height:260px;
    top:-60px;
    left:20px;
    z-index:1;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);

}
.container .card .imgbx img
{
    
    max-width:260px;
    border-radius:4px;
}
.container .card .content
{
    position:relative;
    margin-top:-140px;
    padding:10px 15px;
    text-align:center;
    color:#111;
    visibility:hidden;
    opacity:0;
    transition:0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility:visible;
    opacity:1;
    margin-top:-40px;
    transition-delay:0.3s;
}
/*-----footer-----*/
footer{
    background:#16384c;
     height: auto;
     width: 100vw;
     padding: 10px 0px;
     color: black;
 }
 .footer-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
 }
 .icon-link{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 20px 0px;
 }
 .icon-link li{
     margin: 0 10px;
 }
 .fa:hover{
     width: 30px;
 }
 .fa{
     text-decoration: none;
     padding: 20px;
   font-size: 50px;
    text-align: center;
     border-radius: 100%;
     transition: width 2s;
 }
 .fa-twitter {
     background: #55ACEE;
     color: white;
 } 
 .fa-linkedin {
     background: #007bb5;
     color: white;
 }
 .fa-facebook {
     background: #3B5998;
     color: white;
 } 
 .fa-youtube {
     background: #c4302b;
     color: white;
 } 